<a href="https://colab.research.google.com/github/mailazorzan/titanic/blob/main/titanic_survival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df_train = pd.read_csv('/content/drive/MyDrive/Portfolio/Titanic/data/train.csv') 
df_test = pd.read_csv('/content/drive/MyDrive/Portfolio/Titanic/data/test.csv')
df_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [23]:
df_train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [24]:
df_train['Survived'].value_counts()[1]/df_train['Survived'].value_counts()[0]

0.6229508196721312

In [3]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

#Data Prep

In [6]:
impute_value = df_train['Age'].median()
df_train['Age'] = df_train['Age'].fillna(impute_value)
df_test['Age'] = df_test['Age'].fillna(impute_value)

In [7]:
df_train['IsFemale'] = (df_train['Sex'] == 'female').astype(int)
df_test['IsFemale'] = (df_test['Sex'] == 'female').astype(int)

In [8]:
predictors = ['Pclass', 'IsFemale', 'Age']
X_train = df_train[predictors].values
X_test = df_test[predictors].values
y_train = df_train['Survived'].values

# Model

In [18]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
model.fit(X_train, y_train)

LogisticRegression()

In [20]:
y_predict = model.predict(X_test)

# Cross Validation

In [21]:
from sklearn.linear_model import LogisticRegressionCV
model_cv = LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)
model_cv.fit(X_train, y_train)

LogisticRegressionCV()

In [22]:
from sklearn.model_selection import cross_val_score
model = LogisticRegression(C=10)
scores = cross_val_score(model, X_train, y_train, cv=4)
scores

array([0.77578475, 0.79820628, 0.77578475, 0.78828829])